.mobile {
  display: none;
}

#app {
  height: 100%;
}

#header {
  flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 13px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
  
  #header {
    flex-direction: row;
    margin-bottom: 0rem;
  }


}


body {
  /*font-family: 'Cutive Mono', monospace;*/
  font-family: 'Fira Code', monospace;
  padding: 0;
  margin: 0em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
}

body {
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

.selected {
  background-color: black;
  color: white;
  transition: all .5s;
}

.selectable:hover:not(.selected) {
  font-style: italic;
  cursor: pointer;
}

#header {  
  display: flex;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: row;
}

#nav div {
  margin: 1em;
}

#name {
  font-size: 2em;  
}


#content-container {
  display: flex;
  width: 80%;
  margin: auto;
}

#extended-project {
  overflow-y: auto;
  flex-grow: 1;
  margin: 0 1em;
  padding: 0 1em;
}

.item-button span:before {
  content: '> ';
}

ul.my-list {
  list-style: none;
}

ul.my-list li::before {
	content: '> ';
}